.rooms {
  color: #464a63;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding-bottom: 4px;
  font-family: Montserrat, Arial;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 21px;
  display: flex;



}

/* .flex-container {
  width: 85%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 6px;
  font-family: Montserrat, Arial;
  display: flex;
} */

.component-16 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* .flex-container-1 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  display: flex;
  padding-right: 70px;
} */

.matthiew {
  font-size: 1.25rem;
}

.monday-20-jan {
  color: #a8a8a8;
  font-weight: 400;
}

.component-11 {
  width: 28px;
  height: 32px;
  object-fit: cover;
  margin-bottom: 2px;
  margin-left: 55px;
}

.header-line {
  width: 414px;
  object-fit: cover;
  margin-top: 7px;
  margin-bottom: 16px;
}

.rooms-1 {
  /* text-transform: uppercase;
  align-self: flex-start;
  margin-left: 42px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px; */
  text-transform: uppercase;
}

.energy-saving {
  /* color: #525471; */
  width: 85%;
  background-color: #fff;
  /* border-top: 4px solid #b6c2cd33;
  border-left: 10px solid #b6c2cd33;
  border-right: 10px solid #b6c2cd33; */
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3px;
  margin-left: 6px;
  font-family: Lexend, Arial;
  font-weight: 500;
  display: flex;
  box-shadow: inset -10px 4px 15px rgb(182, 194, 205, 20%),
              inset 10px 4px 15px rgb(182, 194, 205, 20%),
              0px 20px 25px rgba(0, 0, 0, 0.1);
              
}

.flex-container-2 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
}

.energy-saving-1 {
  color: #191919;
  font-family: Montserrat, Arial;
}

.num-35 {
  margin-bottom: 1px;
  font-size: 1.563rem;
  font-weight: 600;
}

.num-235-k-wh {
  color: #838a8f;
  font-size: .75rem;
  font-weight: 400;
}

.thunder-illustration {
  width: 107px;
  height: 86px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-left: 25px;
}

.rooms-flex-container-3 {
  width: 85%;
  flex-direction: row;
  flex-basis: 26%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 3px;
  margin-left: 6px;
  display: flex;
  margin-top: 15px;
}

.component-13-instance-1, .component-17-instance-1 {
  height: 100%;
}

.rooms-flex-container-4 {
  width: 85%;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  margin-left: 6px;
  display: flex;
}

.component-12-instance-1, .component-15-instance-1 {
  height: 100%;
}

.rooms-flex-container-5 {
  width: 80%;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4px;
  margin-left: 3px;
  display: flex;
  position: absolute;
  bottom: 0;
}

.menu-1-instance-1 {
  height: 100%;
  flex-basis: 15%;
  /* margin-bottom: 1px; */
}

.menu-instance-1 {
  height: 95%;
  margin-top: 1px;
  margin-left: 2px;
}

.menu-2-instance-1 {
  height: 100%;
  flex-basis: 15%;
  margin-top: 2px;
}
