.login-form-stroke {
  background-color: #fff;
  border-radius: 25px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 52px;
  margin-top: 12px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
}
