.room-detail .sgvinfo .value {
  fill: #3C3C43;
  fill-opacity: 0.18;
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 33px;
}

.room-detail .sgvinfo .title {
  fill: #464A63;
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 14px;
}
