.component-12 {
  color: gray;
  background-color: #f4f7fb;
  border: 1px solid #fff;
  border-radius: 22px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: Montserrat, Arial;
  font-size: 1.063rem;
  font-weight: 600;
  line-height: 20px;
  display: flex;
}

.image-2 {
  width: 155px;
  height: 120px;
  object-fit: cover;
  background: linear-gradient(#4cbae2 0%, #0000 100%) center / cover;
  margin-bottom: 5px;
}

.small-bedroom {
  align-self: center;
  margin-top: 3px;
  line-height: 22px;
}

.num-4-devices {
  text-align: center;
  color: #bababa;
  margin-left: 5px;
  font-size: .938rem;
  font-weight: 400;
}
