.addmember {
  color: #464a63;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 37px;
  font-family: Montserrat, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 12px;
  display: flex;
  margin-bottom: 100px;
}

.addmember .select-image {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.addmember .imageProfile {
  width: 40px;
  height: 40px;
  flex: 0;
}

.addmember .labelProfile {
  flex: 1;
}

.addmember .images-login {
  width: 344px;
  height: 204px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 19px;
}

.addmember .energy-saver-can-cha {
  color: #000;
  margin-top: 3px;
  line-height: 24px;
  width: 50%;
}

.addmember .form-stroke-1-instance,
.addmember .form-stroke-instance-1,
.addmember .main-buttons-instance-1 {
  width: 327px;

}

.addmember .dont-have-an-account {
  font-size: .625rem;
  margin-top: 10px;
}

.addmember .line-signup {
  width: 39px;
  height: 1px;
  object-fit: cover;
  border: 1px solid #ff8a00;
  margin-bottom: 14px;
  margin-left: 61px;
}

.addmember .login-form-stroke {

  text-align: left;
  padding-left: 20px;
  color: #757575;
  background-color: #0000;
  border: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Montserrat, Arial;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  width: 327px;


  background-color: #fff;
  border-radius: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 52px;
  margin-top: 12px;
  box-shadow: 0px 20px 25px rgb(0 0 0 / 10%);

}


.addmember .main-buttons {
  text-align: center;
  color: #fff;
  background-color: #0000;
  border: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Montserrat, Arial;
  font-size: 1rem;
  font-weight: 700;
  line-height: 36px;
  display: flex;
  margin-top: 30px;
}


.addmember .vector {
  height: 52px;
  background-color: #464a63;
  border-radius: 25px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 12px;
}

.addmember .active .vector {
  background-color: #ffffff;
  color: #464a63;
  outline: solid 2px #464a63;
  outline-offset: -2px;
}
