.footer .menu {
  text-align: center;
  color: #464a63;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Montserrat, Arial;
  font-size: .625rem;
  font-weight: 600;
  line-height: 14px;
  display: flex;
}

.footer .imageMenu {
  width: 35px;
  height: 37px;
  object-fit: cover;
  margin-bottom: 5px;
}

.footer .active {
  color: #FF8A00;
}

.footer .active img {
  filter: invert(52%) sepia(69%) saturate(1472%) hue-rotate(360deg) brightness(102%) contrast(105%);
}
