.ranking {
  color: #464a63;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* padding-left: 1px;
  font-family: Montserrat, Arial;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  display: flex; */

  padding-bottom: 4px;
  font-family: Montserrat, Arial;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 21px;
  display: flex;

}

/* .flex-container {
  width: 85%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 6px;
  font-family: Montserrat, Arial;
  display: flex;
} */

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* .flex-container-1 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  display: flex;
  padding-right: 70px;
} */

.data {
  color: #a8a8a8;
  font-size: .875rem;
  font-weight: 400;
}

.alarm {
  width: 28px;
  height: 32px;
  object-fit: cover;
  margin-bottom: 3px;
  margin-left: 55px;
}

.header-line {
  width: 414px;
  object-fit: cover;
  margin-top: 7px;
  margin-bottom: 16px;
  /* align-self: flex-end; */
}

.ranking-flex-container-2 {
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: stretch;
  margin-left: 36px;
  display: flex;
}

.icon {
  width: 18px;
  height: 15px;
  object-fit: cover;
  padding-top: 5px;
}

.ranking-1 {
  text-transform: uppercase;
}

.num-35-points {
  color: #000;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  padding-right: 50px;
}

.ranking-flex-container-3 {
  width: 60%;
  flex-direction: column;
  flex-basis: 26%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  display: flex;
}

/* .ranking-ranking-vector {
  width: 59px;
  height: 194px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: -136px;
  margin-left: 3px;
  padding-left: 20px;
} */

/* .ranking-vector-conteiner {
  width: 100%;

 
} */


.group-2085 {
  z-index: 1;
  width: 100%;
  flex-direction: row;
  flex-basis: 70%;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.ranking-vector-1 {
  height: 100%;
  background-color: #dcfbd9;
  border-radius: 25px;
  flex-direction: row;
  flex-basis: 24%;
  justify-content: center;
  align-items: flex-end;
  /* padding-bottom: 136px; */
  padding-right: 1px;
  display: flex;
}

.jrnbbpupzsuzo {
  text-transform: uppercase;
  padding-top: 136px;
  margin-bottom: 18px;
}

.opgklbcikbbig {
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-left: 2px;
  padding-top: 194px;
}

.ranking-vector-2 {
  height: 100%;
  background-color: #fdf2b8;
  border-radius: 25px;
  flex-direction: row;
  flex-basis: 24%;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3px;
  /* padding-bottom: 106px; */
  padding-right: 3px;
  display: flex;
}


.ranking-vector-3 {
  height: 100%;
  background-color: #ECF1FD;
  border-radius: 25px;
  flex-direction: row;
  flex-basis: 24%;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3px;
  /* padding-bottom: 194px; */
  padding-right: 3px;
  display: flex;
}

.xwxtwigvaatox {
  text-transform: uppercase;
  padding-top: 106px;
  margin-bottom: 18px;
}

.rectangle-412 {
  width: 75%;
  background-color: #fff;
  border: 1px solid #464a63;
  border-radius: 13px;
  flex-direction: column;
  flex-basis: 23%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 23px;
  margin-left: 6px;
  padding-bottom: 1px;
  font-size: .938rem;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.cat-absolute-container {
  z-index: 1;
  width: 40%;
  flex-direction: column;
  flex-basis: 99%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -166px;
  padding-bottom: 2px;
  padding-right: 4px;
  display: flex;
}

.score {
  font-weight: 600;
  line-height: 20px;
}

.num-123 {
  margin-bottom: 7px;
}

.num-78 {
  margin-top: 2px;
  margin-bottom: 9px;
}

.num-54 {
  margin-top: 2px;
  margin-bottom: 3px;
}

.line-16 {
  width: 110px;
  height: 166px;
  object-fit: cover;
  border: 1px solid #464a63;
  margin-bottom: -158px;
  margin-left: 15px;
}

.rank {
  align-self: flex-end;
  margin-top: -1px;
  margin-bottom: -9px;
  font-weight: 600;
  line-height: 20px;
}

.username {
  align-self: flex-start;
  margin-bottom: 6px;
  margin-left: 14px;
  font-weight: 600;
  line-height: 20px;
}

.line-17 {
  z-index: 1;
  width: 296px;
  height: 1px;
  object-fit: cover;
  border: 1px solid #464a63;
}

.family-1 {
  align-self: flex-start;
  margin-top: 15px;
  margin-bottom: -13px;
  margin-left: 23px;
}

.xfmnhlinybjyh {
  align-self: flex-end;
  margin-top: -1px;
  margin-bottom: 17px;
}

.line-18 {
  z-index: 1;
  width: 296px;
  height: 1px;
  object-fit: cover;
  border: 1px solid #464a63;
}

.xxpvaptjtkezd {
  align-self: flex-end;
  margin-top: 19px;
  margin-bottom: -11px;
}

.family-2 {
  align-self: flex-start;
  margin-bottom: 14px;
  margin-left: 23px;
}

.line-19 {
  z-index: 1;
  width: 292px;
  height: 1px;
  object-fit: cover;
}

.family-3 {
  align-self: flex-start;
  margin-top: 19px;
  margin-bottom: -13px;
  margin-left: 23px;
}

.droztchtohtat {
  align-self: flex-end;
  margin-bottom: 16px;
}

.back-btn-instance-1 {
  width: 80%;
  flex-basis: 4%;
  margin-top: 4px;
  margin-left: 3px;
  position: absolute;
  bottom: 75px;
  height: 28px;
}

.flex-container-4 {
  width: 80%;
  flex-direction: row;
  flex-basis: 8%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4px;
  margin-left: 3px;
  display: flex;
  position: absolute;
  bottom: 0;
}

.ranking-menu-instance-1 {
  height: 100%;
  flex-basis: 15%;
}

.home-menu-instance-1 {
  height: 95%;
  margin-top: 1px;
  margin-left: 2px;
}

.rooms-menu-instance-1 {
  height: 100%;
  flex-basis: 15%;
  margin-top: 1px;
}

/* table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
} */


table {
  width: 100%; /* Ширина таблицы */
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
  border: 2px solid rgba(255, 255, 255, 0); /* Прячем рамку вокруг таблицы */
 }
 td, th {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: 1px solid #464A63; /* Параметры рамки */
  text-align: center; /* Выравнивание по левому краю */
 }