.energy-saving-wrapper {
  color: #464a63;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 5px;
  font-family: Lexend, Arial;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 21px;
  display: flex;
}

.energy-saving {
  /* color: #838a8f; */
  width: 85%;
  background-color: #fff;
  /* border-top: 4px solid #b6c2cd33;
  border-left: 10px solid #b6c2cd33;
  border-right: 10px solid #b6c2cd33; */
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 15%;
  justify-content: space-around;
  align-items: center;
  margin-top: 2px;
  margin-left: 6px;
  font-size: 1.563rem;
  font-weight: 600;
  display: flex;
  box-shadow: inset -10px 4px 15px rgb(182, 194, 205, 20%),
  inset 10px 4px 15px rgb(182, 194, 205, 20%),
  0px 20px 25px rgba(0, 0, 0, 0.1);
}

.energy-saving .flex-container-2 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
}

.energy-saving .energy-saving-1 {
  color: #191919;
  font-family: Montserrat, Arial;
  font-size: .875rem;
  font-weight: 500;
}

.energy-saving .num-35 {
  color: #525471;
  margin-bottom: 1px;
}

.energy-saving .num-235-k-wh {
  font-size: .75rem;
  font-weight: 400;
}

.energy-saving .thunder-illustration {
  width: 107px;
  height: 86px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin-left: 25px;
}
