.header {
  color: #464a63;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 5px;
  font-family: Lexend, Arial;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 21px;
  display: flex;
}

.header .flex-container {
  width: 85%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 6px;
  font-family: Montserrat, Arial;
  display: flex;
}

.header .component-16 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 70px;
}

.header .flex-container-1 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  display: flex;
  /* padding-right: 70px;
  padding-left: 10px; */


}

.header .monday-20-jan {
  color: #a8a8a8;
  font-size: .875rem;
  font-weight: 400;
}

.header .component-11 {
  width: 33px;
  height: 42px;
  object-fit: cover;
  margin-bottom: 2px;
  margin-left: 55px;
}

.header .header-line {
  width: 414px;
  object-fit: cover;
  margin-top: 7px;
  margin-bottom: 16px;
}

