.registration {
  color: #464a63;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 37px;
  font-family: Montserrat, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 12px;
  display: flex;
}

.registration .images-login {
  width: 344px;
  height: 204px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 19px;
}

.registration .energy-saver-can-cha {
  color: #000;
  margin-top: 3px;
  line-height: 24px;
  width: 50%;
}

.registration .form-stroke-1-instance,
.registration .form-stroke-instance-1,
.registration .main-buttons-instance-1 {
  width: 327px;

}

.registration .dont-have-an-account {
  font-size: .625rem;
  margin-top: 10px;
}

.registration .dont-have-an-account-sign-up {
  color: #ff8a00;
  text-decoration: underline;
}

.registration .warning {
  font-size: .625rem;
  margin-top: 10px;
  width: 50%;
  margin-bottom: 15px;
}

.registration .line-signup {
  width: 39px;
  height: 1px;
  object-fit: cover;
  border: 1px solid #ff8a00;
  margin-bottom: 14px;
  margin-left: 61px;
}

.registration .login-form-stroke {

  text-align: left;
  padding-left: 20px;
  color: #757575;
  background-color: #0000;
  border: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Montserrat, Arial;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  width: 327px;


  background-color: #fff;
  border-radius: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 52px;
  margin-top: 12px;
  box-shadow: 0px 20px 25px rgb(0 0 0 / 10%);

}


.registration .main-buttons {
  text-align: center;
  color: #fff;
  background-color: #0000;
  border: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Montserrat, Arial;
  font-size: 1rem;
  font-weight: 700;
  line-height: 36px;
  display: flex;
  margin-top: 30px;
}


.registration .vector {
  height: 52px;
  background-color: #464a63;
  border-radius: 25px;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 12px;
}


.registration .active .vector {
  background-color: #ffffff;
  color: #464a63;
  outline: solid 2px #464a63;
  outline-offset: -2px;
}




::-webkit-calendar-picker-indicator{
  /* background-color: #ffffff; */
  padding: 25px;
  cursor: pointer;
  border-radius: 3px;
  filter: invert(52%) sepia(69%) saturate(1472%) hue-rotate(360deg) brightness(102%) contrast(105%);
 
}


input[type="file"] {
  display: none;
 
}


 /* label {
  text-transform: uppercase;
} */


 .select-image {

  text-align: left;
  padding-left: 20px;
  color: #ffffff;
  background-color: #0000;
  border: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Montserrat, Arial;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  width: 327px;


  background-color: #ff8a00 ;
  border-radius: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 52px;
  margin-top: 12px;
  box-shadow: 0px 20px 25px rgb(0 0 0 / 10%);

}



input:focus {
  /* outline: 0;
  outline-offset: 0; */
  /* outline-color: #ff8a00; */

  outline: solid 2px #ff8a00;
  outline-offset: -2px;
}